@charset "utf-8";
* { margin: 0px; padding: 0px; border: 0px; font-size: 100%; 
font-family: 'Syne', sans-serif;
}


body { 
	margin: 0px; 

}


body footer {
  background-image: url("../images/bg1.jpg"); 
  text-align: right;
  font-size: 15px;
  background-position: bottom;
  background-size: cover; 
  color: lightsteelblue; 
}

.special-title {
	color: lightsteelblue;
	font-size: 30px;
	text-align: left;
}

.container-one {
	margin-left: 70px;
	margin-right: 70px;
	background-color: darkseagreen;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.header-image {
	background-image: url("../images/bg1.jpg");
	text-align: left;
	font-size: 100px;
	color: black;
	background-position: center;
  	background-size: cover;
  	position: relative;
		
	}

.container-one p img {
	align: right;
	margin-left: 30px;
	margin-right: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 100%;
	height: auto;
	
}


